<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.vostrapizza">

    <uses-permission android:name="android.Manifest.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="21"/>

    <application
        android:name=".realm.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginRegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name=".activity.HomeActivity">

        </activity>
        <activity
            android:name=".activity.ProjectYourPizza"
            android:label="Crie as suas Pizzas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity android:name=".activity.OrderSummary">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ProjectYourPizza" />
        </activity>
        <activity android:name=".adapter.OrderSummaryAdapter" />

        <!--
                 <activity
             android:name=".MainActivity111"
             android:label="@string/title_activity_main111"
             android:theme="@style/AppTheme.NoActionBar"></activity>
        -->
        <activity android:name=".activity.PickFromMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity android:name=".activity.UserProfile" />
        <activity android:name=".activity.UserLoginRegisterMenu" />

    </application>

</manifest>